<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">
      Torrent Search Master
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar placeholder="Search Torrents" [debounce]="500" (ionChange)="handleSearch($event)"></ion-searchbar>
    <ion-list class="list-custom" *ngIf="suggestions.length > 0">
      <ion-item *ngFor="let suggestion of suggestions"
        (click)="handleSelected(suggestion['tablescraper-selected-row'])">
        {{ suggestion['tablescraper-selected-row'] }}
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="ion-no-margin profile-card">
    <ion-card-content>
      <ion-avatar>
        <img src="../../../../assets/card-media.png">
      </ion-avatar>

      <h1>
        <ion-text color="tertiary"><strong>John Doe555</strong></ion-text>
      </h1>

      <h3>
        <ion-text color="medium"><strong>Copy Magnet Link</strong></ion-text>
      </h3>

      <h3>
        <ion-text color="medium"><strong>Download Torrent</strong></ion-text>
      </h3>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding">

    <ion-list-header class="ion-list-header-small">
      <ion-label>
        <ion-text color="tertiary">Details</ion-text>
      </ion-label>
    </ion-list-header>

    <ion-list lines="full">
      <ion-item color="primary" button>
        <ion-icon slot="start" color="medium" name="information-circle"></ion-icon>
        <ion-label>
          <h3>Description</h3>
        </ion-label>
      </ion-item>
      <ion-item color="primary" button>
        <ion-icon slot="start" color="medium" name="list"></ion-icon>
        <ion-label>
          <h3>Files</h3>
        </ion-label>
      </ion-item>
    </ion-list>







    <ion-list lines="full">
      <ion-item color="primary" button>
        <ion-icon slot="start" color="medium" name="download"></ion-icon>
        <ion-label>
          <h3>Download Torrent</h3>
        </ion-label>
      </ion-item>
      <ion-item color="primary" button>
        <ion-icon slot="start" color="medium" name="link"></ion-icon>
        <ion-label>
          <h3>Copy Magnet Link</h3>
        </ion-label>
      </ion-item>
      <ion-item color="primary" button>
        <ion-icon slot="start" color="medium" name="share-social"></ion-icon>
        <ion-label>
          <h3>Share</h3>
        </ion-label>
      </ion-item>
    </ion-list>

  </div>

</ion-content>