<!-- src/app/app.component.html -->
<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Torrent Search Master</ion-title>
    </ion-toolbar>
    <ion-toolbar  *ngIf="!menuActive">
      <ion-searchbar [debounce]="100" (ionInput)="searchTorrents()"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-split-pane contentId="main-content">
    <ion-menu (ionWillOpen)="menuActive = true" (ionWillClose)="menuActive = false" contentId="main-content" side="start">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerLink]="p.url" routerDirection="root">
              <ion-icon [name]="p.icon" slot="start"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
